<ion-header>
  <ion-toolbar color="danger">
    <ion-title>Error 404</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center ion-padding">
  <ion-icon name="alert-circle-outline" size="large"></ion-icon>
  <h1>Página no encontrada</h1>
  <p>Lo sentimos, la página que estás buscando no existe.</p>
  <ion-button routerLink="/login">Volver al Login</ion-button>

  <div>
    <img src="assets/images/undraw_page_not_found_re_e9o6.svg" style="max-width: 100%; height: auto;">
  </div>
</ion-content>
