ion-content {
    --background: #ffffff;
    --color: #000000;
  }
  
  ion-header, ion-toolbar, ion-title {
    --background: #ffffff;
    --color: #000000;
  }
  
  ion-toolbar {
    --background: #ff6275; 
  }
  
  ion-card {
    --background: #000000;
  }
  