ion-content {
    --background: #ffffff;
    --color: #000000;
  }
  
  ion-header, ion-toolbar, ion-title {
    --background: #ffffff;
    --color: #000000;
  }
  
  h1 {
    color: #000000;
  }
  
  ion-label {
    color: #000000;
  }
  
  a {
    color: #000000;
  }
  
  ion-toolbar {
    --background: #ff6275;  
  }