ion-header {
    --background: #ff6275;
    --color: white;
  }
  
  ion-toolbar {
    --background: #ff6275;
  }
  
  ion-card {
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  ion-button {
    margin-top: 20px;
    background: #4caf50;
    border-radius: 25px;
  }
  
  ion-item {
    --border-color: #ccc;
    margin-bottom: 15px;
  }
  
  